{% extends 'base.html' %}
{% load bootstrap4 %}
{%block content%}

{{block.super}}

<div class="container">
  
  <br>
  <br>
  <h1 class="text-center">{{product.name}}</h1>
 
  <div class="row">
    <br>
    <div class="col-md-6">
      <div class="card " >
          <img class="card-img-top" src="{{product.imageURL}}" alt="Card image cap" style="width:100%;max-width:570px;padding-top:10px;height: 300px;">
          <div class="card-body">
            
            <h3 class="card-text">{{product.description}}</h3>
            <h4>Description: {{product.description}}</h4>
   <h4>price: {{product.price}}</h4>
    <h4>availability: {{product.availability}}</h4>
    <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

      </div>
            
         
        <br />
        <br />
 
{% endblock %}
{% block scripts %} 
  {{block.super}}
  
  
{% endblock %}